[submodule "HelioFallClass/Assets/ArtisanDream.Legacy"]
	path = HelioFallClass/Assets/ArtisanDream.Legacy
	url = https://github.com/anthonyromrell/ArtisanDream.Legacy.git
[submodule "HelioFallClass/Assets/Unity.CSharp.Basics"]
	path = HelioFallClass/Assets/Unity.CSharp.Basics
	url = https://github.com/anthonyromrell/Unity.CSharp.Basics.git
[submodule "HelioFallClass/Assets/ArtisanDream.Tools"]
	path = HelioFallClass/Assets/ArtisanDream.Tools
	url = http://github.com/anthonyromrell/ArtisanDream.Tools
[submodule "HelioFallClass/Assets/ArtisanDream.Experimental"]
	path = HelioFallClass/Assets/ArtisanDream.Experimental
	url = https://github.com/anthonyromrell/ArtisanDream.Experimental.git
[submodule "HelioFallClass/Assets/Unity.Basics"]
	path = HelioFallClass/Assets/Unity.Basics
	url = https://github.com/anthonyromrell/Unity.Basics.git
[submodule "HelioFallClass/Assets/NavMeshComponents"]
	path = HelioFallClass/Assets/NavMeshComponents
	url = https://github.com/Unity-Technologies/NavMeshComponents.git